<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" autocomplete="off" class="needs-validation" id="formulario"
      th:action="@{/cuentas/__${accion}__}" th:object="${cuenta}">
  <div class="row">
    <div class="col-12">
      <div th:if="${error != null}" th:text="${error}" class="col-4 small alert-danger fade show" role="alert"></div>
      <div class="row pt-5 pb-4">
        <input th:field="*{id}" type="hidden"/>
        <div class="col-6">
          <div class="fo rm-floating">
            <input placeholder="Usuario" th:field="*{usuario}" class="form-control" id="usuario" type="text">
            <label for="usuario"></label>

          </div>
        </div>
        <div class="col-6">
          <div class="fo rm-floating">
            <input placeholder="Contraseña" th:field="*{clave}" class="form-control" id="clave" type="password">
            <label for="clave"></label>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <button class="btn btn-success"
                  type="submit" th:text="${accion == 'guardar'} ? 'Crear cuenta' : 'Guardar cambios'"></button>
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>