<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Smart Wallet - Home</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="https://i.ibb.co/jZQ6BXV/favicon.png" type="image/x-icon">

	<!-- font css -->
	<link rel="stylesheet" th:href="@{/fonts/feather.css}">
	<link rel="stylesheet" th:href="@{/fonts/fontawesome.css}">
	<link rel="stylesheet" th:href="@{/fonts/material.css}">

	<!-- vendor css -->
	<link rel="stylesheet" th:href="@{/css/style.css}" id="main-style-link">

</head>

<body class="">

	<div th:replace="fragmentos::navbar"></div>
	<div th:replace="fragmentos::sidebar"></div>
	<div th:replace="fragmentos::header"></div>

<!-- BREADCRUM START -->
<div class="pc-container">
    <div class="pcoded-content2">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Mi billetera</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                            <li class="breadcrumb-item">Mi billetera</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- BREADCRUM END -->
		

<!-- TABLA GASTOS, INGRESOS, DEUDAS START -->
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card flat-card">
                    <div class="row-table">
                        <div class="col-sm-6 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="material-icons-two-tone text-primary mb-1">unarchive</i>
                                </div>
                                <div th scope="col" class="col-sm-8 text-md-center">
                                    <h5 th:text="| $${ingresoTotal} |"></h5>
                                    <span>Ingresos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="material-icons-two-tone text-primary mb-1">shopping_cart</i>
                                </div>
                                <div th scope="col" class="col-sm-8 text-md-center">
                                    <h5 th:text="| $${gastoTotal} |"></h5>
                                    <span>Gastos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="material-icons-two-tone text-primary mb-1">monetization_on</i>
                                </div>
                                <div scope="col" class="col-sm-8 text-md-center">
                                    <h5 th:text="| $${dineroDisponible} |"></h5>
                                    <span>Disponible</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row">
			    <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Resumen de consumos del mes</h5>
                        </div>
                        <div class="card-body">
                            <div class="row pb-2">
                                <div class="col-auto m-b-10">
                                    <h3 class="mb-1">$2.252</h3>
                                    <span>Total de consumos</span>
                                </div>
                                <div class="col-auto m-b-10">
                                    <h3 class="mb-1">$1935,6</h3>
                                    <span>Promedio de consumos</span>
                                </div>
                            </div>
                        <div id="account-chart"></div>
                        </div>
                    </div>
                </div>        
		    </div>
    	</div>
    </div>
</div>


    <script th:src="@{/js/vendor-all.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/feather.min.js}"></script>
    <script th:src="@{/js/pcoded.min.js}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->
    <!-- <script src="assets/js/plugins/clipboard.min.js"></script> -->
    <!-- <script src="assets/js/uikit.min.js"></script> -->

<!-- Apex Chart -->
<script th:src="@{/js/plugins/apexcharts.min.js}"></script>
<script>
    $("body").append('<div class="fixed-button active"><a href="https://gumroad.com/dashboardkit" target="_blank" class="btn btn-md btn-success"><i class="material-icons-two-tone text-white">shopping_cart</i> Actualizar a pro</a> </div>');
</script>

<!-- custom-chart js -->
<script th:src="@{/js/pages/dashboard-sale.js}"></script>
</body>
</html>