<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

</head>
<body>

  <form th:action="@{/ingresos/__${accion}__}" th:object="${ingreso}" method="post">

    <input th:field="*{id}" type="hidden"/>
    <div>
      <label for="montoIngresado">Ingreso:</label>
      <input type="text" id="montoIngresado" th:field="*{montoIngresado}">
    </div>

    <div>
      <label for="detalle">Detalle:</label>
      <input type="text" id="detalle" th:field="*{detalle}">
    </div>

    <select aria-label="Seleccionar categoria" class="form-select" th:field="*{categoria}" id="categoria">
      <option selected value="">Seleccionar categoria</option>
      <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
  </select>

    <button th:text="${accion == 'guardar'} ? 'Crear Ingreso' : 'Guardar cambios'" type="submit"></button>
  </form>


    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    
</body>
</html>